In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
hypo_df = pd.read_csv('./data/allhypo.data', header=None, index_col=False)

In [4]:
hypo_df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,negative.|3733
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative.|1442
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative.|2965
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative.|806
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative.|2807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,70,M,f,f,f,f,f,f,f,f,...,t,155,t,1.05,t,148,f,?,SVI,negative.|3689
2796,73,M,f,t,f,f,f,f,f,f,...,t,63,t,0.88,t,72,f,?,other,negative.|3652
2797,75,M,f,f,f,f,f,f,f,f,...,t,147,t,0.8,t,183,f,?,other,negative.|1287
2798,60,F,f,f,f,f,f,f,f,f,...,t,100,t,0.83,t,121,f,?,other,negative.|3496
2799,81,F,f,f,f,f,f,f,f,f,...,t,114,t,0.99,t,115,f,?,SVI,negative.|724

In [5]:
hyper_df = pd.read_csv('./data/allhyper.data', header=None, index_col=False)

In [6]:
hyper_df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,negative.|3733
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative.|1442
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative.|2965
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative.|806
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative.|2807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,70,M,f,f,f,f,f,f,f,f,...,t,155,t,1.05,t,148,f,?,SVI,negative.|3689
2796,73,M,f,t,f,f,f,f,f,f,...,t,63,t,0.88,t,72,f,?,other,negative.|3652
2797,75,M,f,f,f,f,f,f,f,f,...,t,147,t,0.8,t,183,f,?,other,negative.|1287
2798,60,F,f,f,f,f,f,f,f,f,...,t,100,t,0.83,t,121,f,?,other,negative.|3496
2799,81,F,f,f,f,f,f,f,f,f,...,t,114,t,0.99,t,115,f,?,SVI,negative.|724

In [7]:
columns = ["age","sex","on thyroxine","query on thyroxine","on antithyroid medication","sick","pregnant",\
           "thyroid surgery","I131 treatment","query hypothyroid","query hyperthyroid","lithium","goitre",\
           "tumor","hypopituitary","psych","TSH measured","TSH","T3 measured","T3","TT4 measured","TT4",\
           "T4U measured","T4U","FTI measured","FTI","TBG measured","TBG","referral source","target"]


hypo_df = pd.read_csv('./data/allhypo.data', names = columns, na_values = ['?'], index_col = False)
hyper_df = pd.read_csv('./data/allhyper.data', names = columns, na_values = ['?'], index_col = False)

In [8]:
hypo_df

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,target
0,41.0,F,f,f,f,f,f,f,f,f,...,t,125.0,t,1.14,t,109.0,f,NaN,SVHC,negative.|3733
1,23.0,F,f,f,f,f,f,f,f,f,...,t,102.0,f,NaN,f,NaN,f,NaN,other,negative.|1442
2,46.0,M,f,f,f,f,f,f,f,f,...,t,109.0,t,0.91,t,120.0,f,NaN,other,negative.|2965
3,70.0,F,t,f,f,f,f,f,f,f,...,t,175.0,f,NaN,f,NaN,f,NaN,other,negative.|806
4,70.0,F,f,f,f,f,f,f,f,f,...,t,61.0,t,0.87,t,70.0,f,NaN,SVI,negative.|2807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,70.0,M,f,f,f,f,f,f,f,f,...,t,155.0,t,1.05,t,148.0,f,NaN,SVI,negative.|3689
2796,73.0,M,f,t,f,f,f,f,f,f,...,t,63.0,t,0.88,t,72.0,f,NaN,other,negative.|3652
2797,75.0,M,f,f,f,f,f,f,f,f,...,t,147.0,t,0.80,t,183.0,f,NaN,other,negative.|1287
2798,60.0,F,f,f,f,f,f,f,f,f,...,t,100.0,t,0.83,t,121.0,f,NaN,other,negative.|3496
2799,81.0,F,f,f,f,f,f,f,f,f,...,t,114.0,t,0.99,t,115.0,f,NaN,SVI,negative.|724

In [9]:
hyper_df

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,target
0,41.0,F,f,f,f,f,f,f,f,f,...,t,125.0,t,1.14,t,109.0,f,NaN,SVHC,negative.|3733
1,23.0,F,f,f,f,f,f,f,f,f,...,t,102.0,f,NaN,f,NaN,f,NaN,other,negative.|1442
2,46.0,M,f,f,f,f,f,f,f,f,...,t,109.0,t,0.91,t,120.0,f,NaN,other,negative.|2965
3,70.0,F,t,f,f,f,f,f,f,f,...,t,175.0,f,NaN,f,NaN,f,NaN,other,negative.|806
4,70.0,F,f,f,f,f,f,f,f,f,...,t,61.0,t,0.87,t,70.0,f,NaN,SVI,negative.|2807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,70.0,M,f,f,f,f,f,f,f,f,...,t,155.0,t,1.05,t,148.0,f,NaN,SVI,negative.|3689
2796,73.0,M,f,t,f,f,f,f,f,f,...,t,63.0,t,0.88,t,72.0,f,NaN,other,negative.|3652
2797,75.0,M,f,f,f,f,f,f,f,f,...,t,147.0,t,0.80,t,183.0,f,NaN,other,negative.|1287
2798,60.0,F,f,f,f,f,f,f,f,f,...,t,100.0,t,0.83,t,121.0,f,NaN,other,negative.|3496
2799,81.0,F,f,f,f,f,f,f,f,f,...,t,114.0,t,0.99,t,115.0,f,NaN,SVI,negative.|724

In [10]:
hypo_df[['hypo_class','id']] = hypo_df.target.str.split("|",expand = True)
hypo_df.drop('target', axis = 1, inplace = True)

hyper_df[['hyper_class','id']] = hyper_df.target.str.split("|",expand = True)
hyper_df.drop('target', axis = 1, inplace = True)

In [11]:
hypo_df['hypo_class'] = hypo_df['hypo_class'].str.replace('.', '')
hyper_df['hyper_class'] = hyper_df['hyper_class'].str.replace('.', '')

In [12]:
hypo_df['hypo_class'].unique()

array(['negative', 'compensated hypothyroid', 'primary hypothyroid',
       'secondary hypothyroid'], dtype=object)

In [13]:
hyper_df['hyper_class'].unique()

array(['negative', 'hyperthyroid', 'T3 toxic', 'goitre'], dtype=object)

In [14]:
hypo_df.replace(['compensated hypothyroid', 'primary hypothyroid',
                 'secondary hypothyroid'], 'hypothyroid', inplace = True)

hyper_df.replace(['T3 toxic', 'goitre'], 'hyperthyroid', inplace = True)

In [15]:
hypo_df['hypo_class'].unique()

array(['negative', 'hypothyroid'], dtype=object)

In [16]:
hyper_df['hyper_class'].unique()

array(['negative', 'hyperthyroid'], dtype=object)

In [17]:
df = pd.concat([hypo_df, hyper_df.iloc[:, -2]], axis=1)
df

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,hypo_class,id,hyper_class
0,41.0,F,f,f,f,f,f,f,f,f,...,t,1.14,t,109.0,f,NaN,SVHC,negative,3733,negative
1,23.0,F,f,f,f,f,f,f,f,f,...,f,NaN,f,NaN,f,NaN,other,negative,1442,negative
2,46.0,M,f,f,f,f,f,f,f,f,...,t,0.91,t,120.0,f,NaN,other,negative,2965,negative
3,70.0,F,t,f,f,f,f,f,f,f,...,f,NaN,f,NaN,f,NaN,other,negative,806,negative
4,70.0,F,f,f,f,f,f,f,f,f,...,t,0.87,t,70.0,f,NaN,SVI,negative,2807,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,70.0,M,f,f,f,f,f,f,f,f,...,t,1.05,t,148.0,f,NaN,SVI,negative,3689,negative
2796,73.0,M,f,t,f,f,f,f,f,f,...,t,0.88,t,72.0,f,NaN,other,negative,3652,negative
2797,75.0,M,f,f,f,f,f,f,f,f,...,t,0.80,t,183.0,f,NaN,other,negative,1287,negative
2798,60.0,F,f,f,f,f,f,f,f,f,...,t,0.83,t,121.0,f,NaN,other,negative,3496,negative
2799,81.0,F,f,f,f,f,f,f,f,f,...,t,0.99,t,115.0,f,NaN,SVI,negative,724,negative

In [18]:
df['target'] = np.where(((df['hypo_class'] != 'negative') & \
                                (df['hyper_class'] == 'negative')), df['hypo_class'],\
               np.where((df['hyper_class'] != 'negative'), df['hyper_class'],'negative'))

In [19]:
df = df.drop(['referral source', 'TBG', 'hypo_class', 'id', 'hyper_class'], axis = 1)

In [20]:
df

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,target
0,41.0,F,f,f,f,f,f,f,f,f,...,t,2.5,t,125.0,t,1.14,t,109.0,f,negative
1,23.0,F,f,f,f,f,f,f,f,f,...,t,2.0,t,102.0,f,NaN,f,NaN,f,negative
2,46.0,M,f,f,f,f,f,f,f,f,...,f,NaN,t,109.0,t,0.91,t,120.0,f,negative
3,70.0,F,t,f,f,f,f,f,f,f,...,t,1.9,t,175.0,f,NaN,f,NaN,f,negative
4,70.0,F,f,f,f,f,f,f,f,f,...,t,1.2,t,61.0,t,0.87,t,70.0,f,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,70.0,M,f,f,f,f,f,f,f,f,...,f,NaN,t,155.0,t,1.05,t,148.0,f,negative
2796,73.0,M,f,t,f,f,f,f,f,f,...,t,0.7,t,63.0,t,0.88,t,72.0,f,negative
2797,75.0,M,f,f,f,f,f,f,f,f,...,f,NaN,t,147.0,t,0.80,t,183.0,f,negative
2798,60.0,F,f,f,f,f,f,f,f,f,...,f,NaN,t,100.0,t,0.83,t,121.0,f,negative
2799,81.0,F,f,f,f,f,f,f,f,f,...,t,1.5,t,114.0,t,0.99,t,115.0,f,negative

In [21]:
df['target'].unique()

array(['negative', 'hypothyroid', 'hyperthyroid'], dtype=object)

In [22]:
df = df.drop(['TSH measured','T3 measured','TT4 measured','T4U measured',\
              'FTI measured','TBG measured'], axis = 1)

In [23]:
df

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,goitre,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,target
0,41.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.30,2.5,125.0,1.14,109.0,negative
1,23.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,4.10,2.0,102.0,NaN,NaN,negative
2,46.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,0.98,NaN,109.0,0.91,120.0,negative
3,70.0,F,t,f,f,f,f,f,f,f,...,f,f,f,f,0.16,1.9,175.0,NaN,NaN,negative
4,70.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,0.72,1.2,61.0,0.87,70.0,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,70.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,2.70,NaN,155.0,1.05,148.0,negative
2796,73.0,M,f,t,f,f,f,f,f,f,...,f,f,f,f,NaN,0.7,63.0,0.88,72.0,negative
2797,75.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,147.0,0.80,183.0,negative
2798,60.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.40,NaN,100.0,0.83,121.0,negative
2799,81.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.20,1.5,114.0,0.99,115.0,negative

In [24]:
df.duplicated().sum()

47

In [25]:
df.isnull().sum()

age                            1
sex                          110
on thyroxine                   0
query on thyroxine             0
on antithyroid medication      0
sick                           0
pregnant                       0
thyroid surgery                0
I131 treatment                 0
query hypothyroid              0
query hyperthyroid             0
lithium                        0
goitre                         0
tumor                          0
hypopituitary                  0
psych                          0
TSH                          284
T3                           585
TT4                          184
T4U                          297
FTI                          295
target                         0
dtype: int64

In [26]:
df.to_csv('thyroid.csv', index=False)