In [53]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [54]:
df = pd.read_csv("thyroid.csv")

In [55]:
df

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,goitre,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,target
0,41.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.30,2.5,125.0,1.14,109.0,negative
1,23.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,4.10,2.0,102.0,NaN,NaN,negative
2,46.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,0.98,NaN,109.0,0.91,120.0,negative
3,70.0,F,t,f,f,f,f,f,f,f,...,f,f,f,f,0.16,1.9,175.0,NaN,NaN,negative
4,70.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,0.72,1.2,61.0,0.87,70.0,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,70.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,2.70,NaN,155.0,1.05,148.0,negative
2796,73.0,M,f,t,f,f,f,f,f,f,...,f,f,f,f,NaN,0.7,63.0,0.88,72.0,negative
2797,75.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,147.0,0.80,183.0,negative
2798,60.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.40,NaN,100.0,0.83,121.0,negative
2799,81.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.20,1.5,114.0,0.99,115.0,negative

In [56]:
df.columns

Index(['age', 'sex', 'on thyroxine', 'query on thyroxine',
       'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery',
       'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH', 'T3', 'TT4', 'T4U',
       'FTI', 'target'],
      dtype='object')

In [57]:
df.rename({'on thyroxine':'on_thyroxine', 
           'query on thyroxine':'query_on_thyroxine',
           'on antithyroid medication':'on_antithyroid_medication',
           'thyroid surgery':'thyroid_surgery',
           'I131 treatment':'I131_treatment', 
           'query hypothyroid':'query_hypothyroid', 
           'query hyperthyroid': 'query_hyperthyroid'}, axis=1, inplace=True)

In [59]:
df

,age,sex,onthyroxine,queryonthyroxine,onantithyroidmedication,sick,pregnant,thyroidsurgery,I131treatment,queryhypothyroid,...,goitre,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,target
0,41.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.30,2.5,125.0,1.14,109.0,negative
1,23.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,4.10,2.0,102.0,NaN,NaN,negative
2,46.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,0.98,NaN,109.0,0.91,120.0,negative
3,70.0,F,t,f,f,f,f,f,f,f,...,f,f,f,f,0.16,1.9,175.0,NaN,NaN,negative
4,70.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,0.72,1.2,61.0,0.87,70.0,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,70.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,2.70,NaN,155.0,1.05,148.0,negative
2796,73.0,M,f,t,f,f,f,f,f,f,...,f,f,f,f,NaN,0.7,63.0,0.88,72.0,negative
2797,75.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,147.0,0.80,183.0,negative
2798,60.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.40,NaN,100.0,0.83,121.0,negative
2799,81.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.20,1.5,114.0,0.99,115.0,negative

In [60]:
df.duplicated().sum()

47

In [61]:
df[df.duplicated()]

,age,sex,onthyroxine,queryonthyroxine,onantithyroidmedication,sick,pregnant,thyroidsurgery,I131treatment,queryhypothyroid,...,goitre,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,target
204,26.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
210,64.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
303,22.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
431,58.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
717,40.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
820,41.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
846,26.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
925,58.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
1017,57.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
1047,57.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
1094,22.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
1157,34.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
1487,70.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
1534,19.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
1599,26.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
1606,58.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
1613,57.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
1679,26.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
1699,29.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
1730,29.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
1780,57.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
1856,29.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
1980,57.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2009,64.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2010,41.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2062,26.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2141,75.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2226,70.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2246,33.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2287,32.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2330,37.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2343,54.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2429,32.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2445,33.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2491,15.0,F,f,f,t,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2499,51.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2574,37.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2654,60.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2667,57.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2672,39.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2690,55.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2740,55.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2745,53.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2753,51.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2780,49.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2789,54.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative
2792,63.0,NaN,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,NaN,NaN,NaN,negative

In [62]:

df = df.drop_duplicates().reset_index(drop=True)

In [63]:
df.duplicated().sum()

0

In [64]:
df

,age,sex,onthyroxine,queryonthyroxine,onantithyroidmedication,sick,pregnant,thyroidsurgery,I131treatment,queryhypothyroid,...,goitre,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,target
0,41.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.30,2.5,125.0,1.14,109.0,negative
1,23.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,4.10,2.0,102.0,NaN,NaN,negative
2,46.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,0.98,NaN,109.0,0.91,120.0,negative
3,70.0,F,t,f,f,f,f,f,f,f,...,f,f,f,f,0.16,1.9,175.0,NaN,NaN,negative
4,70.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,0.72,1.2,61.0,0.87,70.0,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2748,70.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,2.70,NaN,155.0,1.05,148.0,negative
2749,73.0,M,f,t,f,f,f,f,f,f,...,f,f,f,f,NaN,0.7,63.0,0.88,72.0,negative
2750,75.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,NaN,NaN,147.0,0.80,183.0,negative
2751,60.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.40,NaN,100.0,0.83,121.0,negative
2752,81.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.20,1.5,114.0,0.99,115.0,negative

In [65]:
df.isnull().sum()

age                          1
sex                        109
onthyroxine                  0
queryonthyroxine             0
onantithyroidmedication      0
sick                         0
pregnant                     0
thyroidsurgery               0
I131treatment                0
queryhypothyroid             0
queryhyperthyroid            0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH                        237
T3                         538
TT4                        137
T4U                        250
FTI                        248
target                       0
dtype: int64

In [66]:
X = df.drop(['target'], axis=1)

In [67]:
X

,age,sex,onthyroxine,queryonthyroxine,onantithyroidmedication,sick,pregnant,thyroidsurgery,I131treatment,queryhypothyroid,...,lithium,goitre,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI
0,41.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,f,1.30,2.5,125.0,1.14,109.0
1,23.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,f,4.10,2.0,102.0,NaN,NaN
2,46.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,f,0.98,NaN,109.0,0.91,120.0
3,70.0,F,t,f,f,f,f,f,f,f,...,f,f,f,f,f,0.16,1.9,175.0,NaN,NaN
4,70.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,f,0.72,1.2,61.0,0.87,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2748,70.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,f,2.70,NaN,155.0,1.05,148.0
2749,73.0,M,f,t,f,f,f,f,f,f,...,f,f,f,f,f,NaN,0.7,63.0,0.88,72.0
2750,75.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,f,NaN,NaN,147.0,0.80,183.0
2751,60.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,f,1.40,NaN,100.0,0.83,121.0
2752,81.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,f,1.20,1.5,114.0,0.99,115.0

In [68]:
y = df[['target']]

In [69]:
y

        target
0     negative
1     negative
2     negative
3     negative
4     negative
...        ...
2748  negative
2749  negative
2750  negative
2751  negative
2752  negative

[2753 rows x 1 columns]

In [70]:
df.describe().T

      count        mean        std    min    25%     50%     75%     max
age  2752.0   51.967297  20.511906  1.000  36.00   55.00   67.00  455.00
TSH  2516.0    4.672150  21.449453  0.005   0.44    1.40    2.60  478.00
T3   2215.0    2.024966   0.824600  0.050   1.60    2.00    2.40   10.60
TT4  2616.0  109.072401  35.392443  2.000  88.00  104.00  125.00  430.00
T4U  2503.0    0.997912   0.194390  0.310   0.88    0.98    1.08    2.12
FTI  2505.0  110.787984  32.883986  2.000  93.00  107.00  124.00  395.00

In [71]:
df.describe(include='object').T

                        count unique       top  freq
sex                      2644      2         F  1786
onthyroxine              2753      2         f  2423
queryonthyroxine         2753      2         f  2713
onantithyroidmedication  2753      2         f  2720
sick                     2753      2         f  2643
pregnant                 2753      2         f  2712
thyroidsurgery           2753      2         f  2714
I131treatment            2753      2         f  2705
queryhypothyroid         2753      2         f  2590
queryhyperthyroid        2753      2         f  2583
lithium                  2753      2         f  2739
goitre                   2753      2         f  2728
tumor                    2753      2         f  2682
hypopituitary            2753      2         f  2752
psych                    2753      2         f  2618
target                   2753      3  negative  2456

In [72]:
numerical_column = X.select_dtypes(exclude='object').columns
numerical_column

Index(['age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI'], dtype='object')

In [73]:
categorical_column = X.select_dtypes(include='object').columns
categorical_column

Index(['sex', 'onthyroxine', 'queryonthyroxine', 'onantithyroidmedication',
       'sick', 'pregnant', 'thyroidsurgery', 'I131treatment',
       'queryhypothyroid', 'queryhyperthyroid', 'lithium', 'goitre', 'tumor',
       'hypopituitary', 'psych'],
      dtype='object')

In [74]:
df.isnull().sum()

age                          1
sex                        109
onthyroxine                  0
queryonthyroxine             0
onantithyroidmedication      0
sick                         0
pregnant                     0
thyroidsurgery               0
I131treatment                0
queryhypothyroid             0
queryhyperthyroid            0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH                        237
T3                         538
TT4                        137
T4U                        250
FTI                        248
target                       0
dtype: int64

In [75]:
numerical_null = [i for i in df.columns if (df[i].dtype != 'O' and df[i].isnull().sum() != 0)]
numerical_null

['age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI']

In [76]:
for i in numerical_null:
    df[i].fillna(df[i].median(),inplace = True)

In [77]:
categorical_null = [i for i in df.columns if (df[i].dtype == 'O' and df[i].isnull().sum() != 0)]
categorical_null

['sex']

In [78]:
for i in categorical_null:
    df[i].fillna(df[i].mode()[0], inplace = True)

In [79]:
df

,age,sex,onthyroxine,queryonthyroxine,onantithyroidmedication,sick,pregnant,thyroidsurgery,I131treatment,queryhypothyroid,...,goitre,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,target
0,41.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.30,2.5,125.0,1.14,109.0,negative
1,23.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,4.10,2.0,102.0,0.98,107.0,negative
2,46.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,0.98,2.0,109.0,0.91,120.0,negative
3,70.0,F,t,f,f,f,f,f,f,f,...,f,f,f,f,0.16,1.9,175.0,0.98,107.0,negative
4,70.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,0.72,1.2,61.0,0.87,70.0,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2748,70.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,2.70,2.0,155.0,1.05,148.0,negative
2749,73.0,M,f,t,f,f,f,f,f,f,...,f,f,f,f,1.40,0.7,63.0,0.88,72.0,negative
2750,75.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,1.40,2.0,147.0,0.80,183.0,negative
2751,60.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.40,2.0,100.0,0.83,121.0,negative
2752,81.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.20,1.5,114.0,0.99,115.0,negative

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2753 entries, 0 to 2752
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      2753 non-null   float64
 1   sex                      2753 non-null   object
 2   onthyroxine              2753 non-null   object
 3   queryonthyroxine         2753 non-null   object
 4   onantithyroidmedication  2753 non-null   object
 5   sick                     2753 non-null   object
 6   pregnant                 2753 non-null   object
 7   thyroidsurgery           2753 non-null   object
 8   I131treatment            2753 non-null   object
 9   queryhypothyroid         2753 non-null   object
 10  queryhyperthyroid        2753 non-null   object
 11  lithium                  2753 non-null   object
 12  goitre                   2753 non-null   object
 13  tumor                    2753 non-null   object
 14  hypopituitary            2753 non-null   object
 15  psych                    2753 non-null   object
 16  TSH                      2753 non-null   float64
 17  T3                       2753 non-null   float64
 18  TT4                      2753 non-null   float64
 19  T4U                      2753 non-null   float64
 20  FTI                      2753 non-null   float64
 21  target                   2753 non-null   object
dtypes: float64(6), object(16)
memory usage: 473.3+ KB

In [81]:
df.isnull().sum()

age                        0
sex                        0
onthyroxine                0
queryonthyroxine           0
onantithyroidmedication    0
sick                       0
pregnant                   0
thyroidsurgery             0
I131treatment              0
queryhypothyroid           0
queryhyperthyroid          0
lithium                    0
goitre                     0
tumor                      0
hypopituitary              0
psych                      0
TSH                        0
T3                         0
TT4                        0
T4U                        0
FTI                        0
target                     0
dtype: int64

In [82]:
df

,age,sex,onthyroxine,queryonthyroxine,onantithyroidmedication,sick,pregnant,thyroidsurgery,I131treatment,queryhypothyroid,...,goitre,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,target
0,41.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.30,2.5,125.0,1.14,109.0,negative
1,23.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,4.10,2.0,102.0,0.98,107.0,negative
2,46.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,0.98,2.0,109.0,0.91,120.0,negative
3,70.0,F,t,f,f,f,f,f,f,f,...,f,f,f,f,0.16,1.9,175.0,0.98,107.0,negative
4,70.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,0.72,1.2,61.0,0.87,70.0,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2748,70.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,2.70,2.0,155.0,1.05,148.0,negative
2749,73.0,M,f,t,f,f,f,f,f,f,...,f,f,f,f,1.40,0.7,63.0,0.88,72.0,negative
2750,75.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,1.40,2.0,147.0,0.80,183.0,negative
2751,60.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.40,2.0,100.0,0.83,121.0,negative
2752,81.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.20,1.5,114.0,0.99,115.0,negative

In [83]:
df.to_csv('thyroid789.csv', index=False)

In [84]:
df1=pd.read_csv("thyroid789.csv")
df1.head()

,age,sex,onthyroxine,queryonthyroxine,onantithyroidmedication,sick,pregnant,thyroidsurgery,I131treatment,queryhypothyroid,...,goitre,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,target
0,41.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.30,2.5,125.0,1.14,109.0,negative
1,23.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,4.10,2.0,102.0,0.98,107.0,negative
2,46.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,0.98,2.0,109.0,0.91,120.0,negative
3,70.0,F,t,f,f,f,f,f,f,f,...,f,f,f,f,0.16,1.9,175.0,0.98,107.0,negative
4,70.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,0.72,1.2,61.0,0.87,70.0,negative

In [85]:
df.columns

Index(['age', 'sex', 'onthyroxine', 'queryonthyroxine',
       'onantithyroidmedication', 'sick', 'pregnant', 'thyroidsurgery',
       'I131treatment', 'queryhypothyroid', 'queryhyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH', 'T3', 'TT4', 'T4U',
       'FTI', 'target'],
      dtype='object')

# <p style="padding:10px;background-color:#E9967A;margin:10;color:#0000FF;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 10px 10px;overflow:hidden;font-weight:30">Creating Data Transformation Pipeline</p>

### Pipeline

        ~ Imputer
        ~ encoding
        ~ scaling

In [29]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [30]:
num_pipeline = Pipeline(
steps=[
    ("Imputer", SimpleImputer(strategy= "median")),
    ("Scaler", StandardScaler())
]
)


cat_pipeline = Pipeline(
steps=[
    ("Imputer", SimpleImputer(strategy= "most_frequent")),
    ("One_hot_encoder", OneHotEncoder())
]
)


preprocessor = ColumnTransformer([
    ('num_pipeline', num_pipeline, numerical_column),
    ('cat_pipeline', cat_pipeline, categorical_column)
])

In [31]:
preprocessor

ColumnTransformer(transformers=[('num_pipeline',
                                 Pipeline(steps=[('Imputer',
                                                  SimpleImputer(strategy='median')),
                                                 ('Scaler', StandardScaler())]),
                                 Index(['age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI'], dtype='object')),
                                ('cat_pipeline',
                                 Pipeline(steps=[('Imputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('One_hot_encoder',
                                                  OneHotEncoder())]),
                                 Index(['sex', 'on_thyroxine', 'query_on_thyroxine',
       'on_antithyroid_medication', 'sick', 'pregnant', 'thyroid_surgery',
       'I131_treatment', 'query_hypothyroid', 'query_hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych'],
      dtype='object'))])

In [32]:
# Train Test Slipt 

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [33]:
preprocessor.fit_transform(X_train)

array([[-1.21322832, -0.10889089,  1.15004631, ...,  0.        ,
         1.        ,  0.        ],
       [-0.30974152,  0.95255496, -0.03540707, ...,  0.        ,
         1.        ,  0.        ],
       [ 0.97416077, -0.21211407, -0.03540707, ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 0.92660884, -0.15271205, -1.48429454, ...,  0.        ,
         1.        ,  0.        ],
       [-0.69015702, -0.20383674, -0.03540707, ...,  0.        ,
         1.        ,  0.        ],
       [ 0.78395303,  0.1102149 , -0.82570933, ...,  0.        ,
         1.        ,  0.        ]])

In [34]:
X_train = pd.DataFrame(preprocessor.fit_transform(X_train), columns=preprocessor.get_feature_names_out())

In [35]:
X_train

,num_pipeline__age,num_pipeline__TSH,num_pipeline__T3,num_pipeline__TT4,num_pipeline__T4U,num_pipeline__FTI,cat_pipeline__sex_F,cat_pipeline__sex_M,cat_pipeline__on_thyroxine_f,cat_pipeline__on_thyroxine_t,...,cat_pipeline__lithium_f,cat_pipeline__lithium_t,cat_pipeline__goitre_f,cat_pipeline__goitre_t,cat_pipeline__tumor_f,cat_pipeline__tumor_t,cat_pipeline__hypopituitary_f,cat_pipeline__hypopituitary_t,cat_pipeline__psych_f,cat_pipeline__psych_t
0,-1.213228,-0.108891,1.150046,-0.672426,0.470232,-0.980244,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
1,-0.309742,0.952555,-0.035407,-0.131749,-0.075272,-0.107455,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,0.974161,-0.212114,-0.035407,0.693496,-0.838978,1.482267,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.451089,-0.026118,0.886612,-0.700883,0.197480,-0.917902,1.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4,1.497232,-0.089415,-0.957426,-0.245575,-0.729877,0.204255,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1922,-0.927917,-0.201402,1.281763,-0.217119,0.797535,-0.668534,1.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1923,-1.023021,-0.152712,0.359744,-0.074835,0.361131,-0.325652,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1924,0.926609,-0.152712,-1.484295,0.494299,-0.784428,1.170557,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1925,-0.690157,-0.203837,-0.035407,-0.729340,0.797535,-1.198441,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1926,0.783953,0.110215,-0.825709,-0.217119,-0.075272,-0.107455,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [36]:
preprocessor.get_feature_names_out()

array(['num_pipeline__age', 'num_pipeline__TSH', 'num_pipeline__T3',
       'num_pipeline__TT4', 'num_pipeline__T4U', 'num_pipeline__FTI',
       'cat_pipeline__sex_F', 'cat_pipeline__sex_M',
       'cat_pipeline__on_thyroxine_f', 'cat_pipeline__on_thyroxine_t',
       'cat_pipeline__query_on_thyroxine_f',
       'cat_pipeline__query_on_thyroxine_t',
       'cat_pipeline__on_antithyroid_medication_f',
       'cat_pipeline__on_antithyroid_medication_t',
       'cat_pipeline__sick_f', 'cat_pipeline__sick_t',
       'cat_pipeline__pregnant_f', 'cat_pipeline__pregnant_t',
       'cat_pipeline__thyroid_surgery_f',
       'cat_pipeline__thyroid_surgery_t',
       'cat_pipeline__I131_treatment_f', 'cat_pipeline__I131_treatment_t',
       'cat_pipeline__query_hypothyroid_f',
       'cat_pipeline__query_hypothyroid_t',
       'cat_pipeline__query_hyperthyroid_f',
       'cat_pipeline__query_hyperthyroid_t', 'cat_pipeline__lithium_f',
       'cat_pipeline__lithium_t', 'cat_pipeline__goitre_f',
       'cat_pipeline__goitre_t', 'cat_pipeline__tumor_f',
       'cat_pipeline__tumor_t', 'cat_pipeline__hypopituitary_f',
       'cat_pipeline__hypopituitary_t', 'cat_pipeline__psych_f',
       'cat_pipeline__psych_t'], dtype=object)

In [37]:
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [38]:
X_test

,num_pipeline__age,num_pipeline__TSH,num_pipeline__T3,num_pipeline__TT4,num_pipeline__T4U,num_pipeline__FTI,cat_pipeline__sex_F,cat_pipeline__sex_M,cat_pipeline__on_thyroxine_f,cat_pipeline__on_thyroxine_t,...,cat_pipeline__lithium_f,cat_pipeline__lithium_t,cat_pipeline__goitre_f,cat_pipeline__goitre_t,cat_pipeline__tumor_f,cat_pipeline__tumor_t,cat_pipeline__hypopituitary_f,cat_pipeline__hypopituitary_t,cat_pipeline__psych_f,cat_pipeline__psych_t
0,-0.690157,-0.172188,0.359744,-0.900080,-1.057180,-0.450336,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.831505,-0.215035,0.491461,0.778867,-0.402575,1.170557,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,1.734992,-0.104022,0.228027,-0.217119,0.033829,-0.294481,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,-0.071982,0.154036,-0.430558,0.551213,0.470232,0.235426,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4,0.118226,-0.170241,-0.957426,-0.871623,0.688434,-1.260783,1.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
821,0.593745,-0.172188,-0.430558,-0.900080,-0.511676,-0.793218,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
822,-0.595053,-0.142974,1.018329,0.636583,1.452140,-0.200968,1.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
823,-1.260780,-0.201402,2.730651,1.404915,2.324947,0.017229,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
824,0.260882,-0.172188,0.096310,-0.444773,-0.511676,-0.200968,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
825,1.449680,-0.147843,-1.220860,-1.127734,-1.929987,-0.107455,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [39]:
import warnings
warnings.filterwarnings('ignore')

In [40]:
# importing the important libraries
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
# create an instance of a Random Forest classifier
random_forest_model = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 42)

# training the Random Forest model on the sampled train dataset
random_forest_model.fit(np.array(X_train), y_train)

# pedicting the labels on the test set
y_predicted_randomforest = random_forest_model.predict(np.array(X_test))

In [41]:
# import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# calculating the accuracy on train data
print('Accuracy Score on train data: ', metrics.accuracy_score(y_true = y_train,\
                                                               y_pred = random_forest_model.predict(X_train)))

# calculating the accuracy on test data
print('Accuracy Score on test data: ', metrics.accuracy_score(y_true = y_test, y_pred = y_predicted_randomforest))

Accuracy Score on train data:  0.9989621172807472
Accuracy Score on test data:  0.9830508474576272

In [42]:
print("****** Random Forest Model Prediction on Test Data ******")
print("****************************************\n")
print("--------- Confusion Matrix ---------\n\n", confusion_matrix(y_test, y_predicted_randomforest))
print("\n------------------------------------")
print("Acurracy Score:", accuracy_score(y_test, y_predicted_randomforest))
print("------------------------------------")
print("\n------ Classification Report -------\n\n", classification_report(y_test, y_predicted_randomforest))
print("--------------------------------------------------------")

****** Random Forest Model Prediction on Test Data ******
****************************************

--------- Confusion Matrix ---------

 [[ 13   0   9]
 [  0  72   0]
 [  5   0 727]]

------------------------------------
Acurracy Score: 0.9830508474576272
------------------------------------

------ Classification Report -------

               precision    recall  f1-score   support

hyperthyroid       0.72      0.59      0.65        22
 hypothyroid       1.00      1.00      1.00        72
    negative       0.99      0.99      0.99       732

    accuracy                           0.98       826
   macro avg       0.90      0.86      0.88       826
weighted avg       0.98      0.98      0.98       826

--------------------------------------------------------